.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh;
}

.section-features {
  padding: 20rem 0;
  background-image: -webkit-gradient(
      linear,
      left top,
      right bottom,
      from(rgba($light-green, 0.8)),
      to(rgba($dark-green, 0.8))
    ),
    url(../img/nat-4.jpg);
  background-image: -webkit-linear-gradient(
      left top,
      rgba($light-green, 0.8),
      rgba($dark-green, 0.8)
    ),
    url(../img/nat-4.jpg);
  background-image: -o-linear-gradient(
      left top,
      rgba($light-green, 0.8),
      rgba($dark-green, 0.8)
    ),
    url(../img/nat-4.jpg);
  background-image: linear-gradient(
      to right bottom,
      rgba($light-green, 0.8),
      rgba($dark-green, 0.8)
    ),
    url(../img/nat-4.jpg);
  background-image: linear-gradient(
      to right bottom,
      rgba($light-green, 0.8),
      rgba($dark-green, 0.8)
    ),
    url(../img/nat-4.jpg);
  background-size: cover;
  //alternate way to get a diagonal crop to
  //your bgimages/gradients/etc.
  transform: skewY(-7deg);
  margin-top: -7.2rem;
  //"un"skews the child elements of the container
  & > * {
    transform: skewY(7deg);
  }
}

.section-tours {
  background-color: $color-grey-light-1;
  padding: 25rem 0 12rem;
  margin-top: -20vh;
}

.section-stories {
  padding: 15rem 0;
  position: relative;
}

.section-booking {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, $light-green, $dark-green);
}

.book {
  background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.8) 0%,
      rgba($color-white, 0.8) 50%,
      rgba($color-white, 0) 50%,
      rgba($color-white, 0) 100%
    ),
    url('../img/nat-10.jpg');
  background-size: cover;
  min-height: 50rem;
  width: 95%;
  border-radius: 3px;
  box-shadow: $box-shadow;

  &__form {
    width: 50%;
    padding: 6rem;
  }
}
