.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  background-color: rgba($color-white, 0.67);
  border-radius: 3px;
  padding: 6rem 5rem;
  padding-left: 9rem;
  font-size: $default-font-size;
  transform: skewX(-12deg);
  position: relative;

  @include respond(tab-port) {
    transform: skewX(0deg);
    padding: 4rem 3rem 6rem 3rem;
  }

  &:not(:last-child) {
    margin-bottom: 8rem;
  }

  &__shape {
    width: 15rem;
    height: 15rem;
    background-color: $color-secondary-dark;
    float: left;
    transform: translate(-3rem, 0) skewX(12deg);
    border-radius: 50%;
    overflow: hidden;

    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
      -webkit-clip-path: circle(50% at 50% 50%);
      clip-path: circle(50% at 50% 50%);
      -webkit-shape-outside: circle(50% at 50% 50%);
      shape-outside: circle(50% at 50% 50%);
      border-radius: none;
    }

    @include respond(tab-port) {
      transform: translate(0, 0) skewX(0deg);
      float: none;
      margin: 0 auto 3rem;
    }
  }

  &__image {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    transition: all 0.2s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  &__text {
    transform: skewX(12deg);

    @include respond(tab-port) {
      transform: skewX(0deg);
      text-align: center;
    }
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: $color-white;
    text-align: center;
    opacity: 0;
    transition: all 0.2s;
    backface-visibility: hidden;
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &:hover &__image {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(0.85);
  }
}
